<mat-card id="introduction">
  <div class="contenedor">
    <h1 id="div" class="centrado">¡Bienvenido a unOrdinary! <br>Esta pagina es para la creación de personajes de ficción</h1>
    <img src="../../assets/characters.png"/>
</div>
</mat-card>
<mat-card id="cards">
  <h1>Lo que hace especial a los personajes:</h1>
  <hr>
  <br>
  <div class="flex">
    <div class="block">
      <img mat-card-image src="../../assets/Caracteristicas/valentia.png">
      <h3>Valentia</h3>
    </div>
    <div id="fuerza" class="block">
      <img mat-card-image src="../../assets/Caracteristicas/fuerza.png">
      <h3>Fuerza</h3>
    </div>
    <div id="inteligencia" class="block">
      <img mat-card-image src="../../assets/Caracteristicas/inteligencia.png">
      <h3>Inteligencia</h3>
    </div>
  </div>
  <br>
  <div class="flex">
    <div class="block">
      <img mat-card-image src="../../assets/Caracteristicas/perseverancia.png">
      <h3>Perseverancia</h3>
    </div>
    <div id="originalidad" class="block">
      <img mat-card-image src="../../assets/Caracteristicas/originalidad.png">
      <h3>Originalidad</h3>
    </div>
  </div>
</mat-card>
