<div id="diseño">

<div class="fila">
  <div class="contenedor" style="margin-left: 10rem;">
      <a routerLink="/accion"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Acción</h2></div>
  </div>
  <div class="contenedor" style="margin-left: 5rem;">
      <a routerLink="/comedia"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Comedia</h2></div>
  </div>
  <div class="contenedor" style="margin-left: 5rem;">
      <a routerLink="/fantasia"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Fantasia</h2></div>
  </div>
</div>
<div class="fila">
  <div class="contenedor" style="margin-left: 10rem;">
      <a routerLink="/horror"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Horror</h2></div>
  </div>
  <div class="contenedor" style="margin-left: 5rem;">
      <a routerLink="/romance"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Romance</h2></div>
  </div>
  <div class="contenedor" style="margin-left: 5rem;">
      <a routerLink="/sobrenatural"><img src="./../../assets/carpeta.png" height="150rem" width="200rem"/></a>
      <div class="centrado"><h2>Sobrenatural</h2></div>
  </div>
</div>
</div>
